* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background-color: #796565;
    color: #333;
    line-height: 1.6;
}
a {
    color: rgb(0, 0, 0);
}
a:hover {
    color: rgba(0, 0, 0, 0.607);
}
a:visited {
    color: rgb(0, 0, 0);
}
a:active {
    color: rgb(0,0,0);
}
.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
}

.section {
    padding: 40px 20px;
    margin: 20px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    width: 80%;
    margin: auto;
    text-align: center;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    margin: 10px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3a85e7;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #00aeff; /* For LinkedIn button */
    color: #fff;
    transition: 0.5s ease;
}  
footer {
    background: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#social-media a {
    display: inline-block;
    margin: 10px 20px;
    color: #333;
    font-size: 1.2rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

#social-media a:hover {
    color: #007bff;
}
